.lead_text {
    font-size: 20px;
    text-align: left;
    text-indent:50px;

}

.jumbo p {
    font-size: 20px;
    text-align: left;
    text-indent:50px;

}

.my-2 {
    background-color: rgb(233, 217, 0);
    height: 10px;
}

.btn{
    text-indent: 0px;
    background-color:  rgb(0, 209, 0);
    color:  rgb(0, 209, 0);
}

.lead p {
    background-color: rgb(0, 209, 0);
}
.lead{
    font-size: 20px;
}

.lead link{
    border: solid;
}

div.jumbo.jumbotron.jumbotron-fruid {
    background-color:   rgb(0, 209, 0)n;
}

.jumbo h1 {
    text-align: left;
    text-indent: 30px;
    color: rgb(0, 209, 0);
}