

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

.App {
  font-family: 'Do Hyeon', sans-serif;
  background-color: #e9ecef;
  text-align: center;
  align-items: center;
  align-self: center;
  width: auto;
}


.logo {
  clear: both;
}

div {
  clear: both;
}

.App header {
  background-color:#e9ecef;
}

.metamask_login {
  float: right;
  clear: both;
  margin-right: 50px;
  margin-bottom: 20px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
